.Todo {
    background-color: #f3f3f3;
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
}

.Todo .title {
    font-weight: 600;
    margin-bottom: 10px;
}

.Todo .desc {
    margin-bottom: 10px;
}

.Todo .completed {
    margin-top: 10px;
    color: #00F;
}