.book {
    background: #f3f3f3;
    width: 180px;
    padding: 10px;
    margin-bottom: 10px;
}

.book.favorite {
    background: #f99;
}

.book button {
    font-size: 13px;
    margin-right: 10px;
}

.book .title {
    font-weight: 600;
    margin-bottom: 10px;
}

.book .desc {
    margin-bottom: 10px;
}