.Book {
    background: #f3f3f3;
    width: 180px;
    padding: 10px;
    margin-bottom: 10px;
}

.Book.favorite {
    background: #f99;
}

.Book button {
    font-size: 13px;
    margin-right: 10px;
}

.Book .title {
    font-weight: 600;
    margin-bottom: 10px;
}

.Book .desc {
    margin-bottom: 10px;
}

.Book .favorite {
    margin-top: 10px;
    color: #00F;
}